.changepoint{
    position: absolute;
    display: flex;
    height: auto;
    padding: 1rem;
    width: 20rem;
    z-index: 10000;
    border-radius: 5px;
    top: 1%;
    left: 2.5%;
    background-color: white;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.changepoint__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.changepoint__title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}
.changepoint__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.changepoint__btn{
    width: 5vw;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color:#ff2727;
    color: white;
    font-weight: 700;
    transition: all 0.3s ease;
}
.changepoint__btn:hover{
    cursor: pointer;
    background-color: #ff6c6c;
    transform: scale(1.05);
}
.changepoint__start, .changepoint__end{
    gap: 1rem;
}
.changepoint input{
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.changepoint__btn{
    align-self: center;
}
